{% extends '@InnomedioBackendTheme/backend_base.html.twig' %}

{% block content %}
    <div class="main-content">
        {% form_theme form '@InnomedioBackendTheme/form/template-fields.html.twig' %}

        {{ form_start(form, {'action': url('innomedio.translations.submit', {id: app.request.get('id')}), 'attr': {'class': 'ajax-form'}}) }}
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="form-group col-md-12">
                                {{ form_label(form.translationKey) }}
                                {{ form_widget(form.translationKey) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="card">
                    <h4 class="card-title">{{ 'innomedio.translations.translations'|trans }}</h4>
                    <div class="card-body">
                        <div class="row">
                            {% for language in languages %}
                            <div class="form-group col-md-12">
                                <label class="text-fader">{{ language.name }}</label>
                                <input type="text" name="translation[translation][{{ language.id }}][translationValue]" value="{{ translation.translations[language.id].value|default('') }}" class="form-control">
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

