{% extends "@InnomedioBackendTheme/backend_base.html.twig" %}

{% block content %}
    <div class="main-content mb-60">
        <div class="card">
            <div class="card-body p-0">
                <div class="row p-20">
                    <div class="col-md-6 pb-10">
                        <div class="lookup">
                            <input class="w-400px" type="text" name="search" placeholder="{{ 'innomedio.translations.search'|trans }}">
                        </div>
                    </div>

                    <div class="col-md-6 text-left text-md-right">
                        {# <a data-provide="tooltip" data-original-title="{{ 'translations.show_missing_tooltip'|trans }}" href="#" id="show-missing" class="btn btn-danger"><i class="ti-help"></i></a> #}

                        {% if newTranslations %}
                            <a data-provide="tooltip" data-original-title="{{ 'innomedio.translations.export_button_tooltip'|trans }}" id="refresh-website-translations" class="btn btn-success"><i class="ti-export" style="color: white;"></i></a>
                        {% endif %}
                    </div>
                </div>

                <div id="search-content">
                    {% include "@InnomedioTranslations/search.html.twig" with {translations: allTranslations} %}
                </div>
            </div>
        </div>
    </div>

    {% if is_granted('ROLE_ROOT') %}
        <div class="fab fab-fixed">
            <a class="btn btn-float btn-primary" href="{{ url('innomedio.translations.form', {action: 'add'}) }}" title="" data-provide="tooltip" data-original-title="{{ 'innomedio.backend_theme.global.add'|trans }}"><i class="ti-plus"></i></a>
        </div>
    {% endif %}
{% endblock %}

{% block javascript %}
    <script>
        $(document).ready(function() {
            var ajaxEvent = null;

            $("input[name='search']").on('keyup', function() {
                if (ajaxEvent) {
                    ajaxEvent.abort();
                }

                ajaxEvent = $.ajax({
                    url: "{{ url('innomedio.translations.ajax_search') }}",
                    method: "POST",
                    data: {search: $(this).val()},
                    success: function (html) {
                        $('#search-content').html(html);
                        refreshAfterAjax();
                    }
                });
            });

            /*
            $("#show-missing").on('click', function(e) {
                e.preventDefault();

                ajaxEvent = $.ajax({
                    url: "{{ url('innomedio.translations.ajax_search') }}",
                    method: "POST",
                    data: {showMissing: 1},
                    success: function (html) {
                        $('#search-content').html(html);
                        refreshAfterAjax();
                    }
                });
            });
            */

            $('#refresh-website-translations').on('click', function(e) {
                e.preventDefault();

                LoaderComponent.show();

                $.post('{{ url('innomedio.translations.ajax_export_for_website') }}', {}, function(result) {
                    swal({
                        title: result.title,
                        text: result.message,
                        type: "success"
                    });

                    LoaderComponent.hide();

                    $('#refresh-website-translations').hide();

                    var rows = $('tr.is-warning');
                    rows.find('.ti-alert').remove();
                    rows.removeClass('is-warning');
                }, 'json');
            })
        });
    </script>
{% endblock %}