{% if translations|length > 0 %}
    <table class="table mb-0">
        <thead>
        <tr>
            <th>Translation key</th>
            {# @var language \Innomedio\BackendThemeBundle\Entity\Language #}
            {% for language in languages %}
                <th>{{ language.name }}</th>
            {% endfor %}
            <th></th>
        </tr>
        </thead>
        <tbody>

            {% for key, translation in translations %}
                <tr class="item-to-remove {% if not translation.exported %} is-warning{% endif %}">
                    <td>
                        {% if not translation.exported %}
                            <i data-provide="tooltip" data-placement="top" title="{{ 'innomedio.translations.not_exported_tooltip'|trans }}" class="ti-alert warning-tooltip"></i>
                        {% endif %}

                        {{ translation.translationKey }}
                    </td>

                    {% for language in languages %}
                        {% if translation.translations[language.id]|default(false) and translation.translations[language.id].value != '' %}
                            <td>{{ translation.translations[language.id].value }}</td>
                        {% else %}
                            <td><span class="badge badge-danger">{{ 'innomedio.translations.no_translation_yet'|trans }}</span></td>
                        {% endif %}
                    {% endfor %}
                    <td class="text-right">
                        <div class="dropdown">
                            <a class="text-lighter" href="#" data-toggle="dropdown" aria-expanded="false"><i class="ti-more-alt rotate-90"></i></a>
                            <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">
                                <a class="dropdown-item" href="{{ url('innomedio.translations.form', {action: 'edit', id: translation.id}) }}"><i class="fa fa-fw fa-pencil"></i> {{ 'innomedio.backend_theme.global.edit'|trans }}</a>
                                {% if is_granted('ROLE_ROOT') %}
                                    <div class="dropdown-divider"></div>
                                    <a class="ajax-remove dropdown-item"
                                       href="{{ url('innomedio.translations.remove', {id: translation.id}) }}"
                                    ><i class="fa fa-fw fa-trash"></i> {{ 'innomedio.backend_theme.global.remove'|trans }}</a>
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="p-20 pt-20">
        <div class="alert alert-warning mb-0" role="alert">
            {{ 'innomedio.translations.no_translations_found'|trans }}
        </div>
    </div>
{% endif %}