<?xml version="1.0"?>
<xliff version="1.2" xmlns="urn:oasis:names:tc:xliff:document:1.2">
    <file source-language="{{ language }}" datatype="plaintext" original="translations.{{ language }}.xlf">
        <body>
{% for key, value in keys %}
            <trans-unit id="{{ key }}">
                <source>{{ key }}</source>
                <target>{{ value }}</target>
            </trans-unit>
{% endfor %}
        </body>
    </file>
</xliff>