<div class="card">
    <div class="card-body card-body">
        <button class="btn btn-block btn-multiline btn-danger">
            <i class="fa fa-warning fs-30"></i><br>
            <span class="fs-18">Er ontbreken enkele vertalingen!</span>
        </button>
    </div>
</div>